In [1]:
import json
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
DATA_DIR="data/cleaned/"

In [ ]:
# import plotly.io as pio
# pio.renderers.default = 'browser'

In [2]:
# india_states = json.load(open("data/india_state.geojson", "r"))
india_states = json.load(open("data/vis/states_india.geojson", "r"))
state_id_map = {}
for feature in india_states["features"]:
    feature["id"] = feature["properties"]["state_code"]
    state_id_map[feature["properties"]["st_nm"]] = feature["id"]

In [3]:
df = pd.read_csv(DATA_DIR+"latlong.csv")
df['lat'] = df['lat'].round(3)
df['long'] = df['long'].round(3)
coords=df.groupby(['lat','long']).size().reset_index(name="freq")
coords.head()

     lat    long  freq
0  7.030  93.790     4
1  7.944  93.575     1
2  8.000  93.500     6
3  8.088  77.542    57
4  8.118  77.281   122

In [4]:
state_codes = pd.read_csv(DATA_DIR+"../vis/admin1CodesASCII.txt", delimiter="\t", names=['state_name', 'state_name2', 'pincode'])
states = df['state_name'].value_counts().reset_index(name='freq')
states['index'] = states['index'].apply(lambda x: 'IN.%.2d'%x)
states = states.join(state_codes['state_name'], on='index')
states['state_name'] = states['state_name'].str.replace(" and ", " & ")

# Some discrepancies, require manual editing
states['id']=states['state_name'].map(state_id_map)
states.dropna(inplace=True)
states.head()

   index   freq      state_name    id
0  IN.36  77833   Uttar Pradesh   9.0
1  IN.35  66156  Madhya Pradesh  23.0
3  IN.16  29360     Maharashtra  27.0
4  IN.34  24651           Bihar  10.0
5  IN.21  12875          Odisha  21.0

In [5]:
from sklearn import preprocessing

states['scaled']=np.log10(states['freq'])
coords['scaled']=np.log10(coords['freq'])
coords['scaled']=preprocessing.minmax_scale(coords['scaled'], (0,1))
states.head()

   index   freq      state_name    id    scaled
0  IN.36  77833   Uttar Pradesh   9.0  4.891164
1  IN.35  66156  Madhya Pradesh  23.0  4.820569
3  IN.16  29360     Maharashtra  27.0  4.467756
4  IN.34  24651           Bihar  10.0  4.391835
5  IN.21  12875          Odisha  21.0  4.109747

In [6]:
states

    index   freq        state_name    id    scaled
0   IN.36  77833     Uttar Pradesh   9.0  4.891164
1   IN.35  66156    Madhya Pradesh  23.0  4.820569
3   IN.16  29360       Maharashtra  27.0  4.467756
4   IN.34  24651             Bihar  10.0  4.391835
5   IN.21  12875            Odisha  21.0  4.109747
6   IN.38  12753         Jharkhand  20.0  4.105612
7   IN.25  11876        Tamil Nadu  33.0  4.074670
8   IN.19  10286         Karnataka  29.0  4.012247
9   IN.28   9345       West Bengal  19.0  3.970579
10  IN.24   8817         Rajasthan   8.0  3.945321
11  IN.02   8383    Andhra Pradesh  28.0  3.923399
12  IN.12   7670   Jammu & Kashmir   1.0  3.884795
13  IN.39   6727       Uttarakhand   5.0  3.827821
14  IN.11   6452  Himachal Pradesh   2.0  3.809694
15  IN.10   5923           Haryana   6.0  3.772542
16  IN.23   4766            Punjab   3.0  3.678154
17  IN.40   3931         Telangana   0.0  3.594503
18  IN.03   3732             Assam  18.0  3.571942
19  IN.09   3669           Gujarat  24.0  3.564548
20  IN.37   3636      Chhattisgarh  22.0  3.560624
21  IN.13   2592            Kerala  32.0  3.413635
23  IN.33    845               Goa  30.0  2.926857
24  IN.05    626        Chandigarh   4.0  2.796574
25  IN.22    322        Puducherry  34.0  2.507856
27  IN.26    144           Tripura  16.0  2.158362
29  IN.17    135           Manipur  14.0  2.130334
30  IN.31     65           Mizoram  15.0  1.812913
31  IN.29     61            Sikkim  11.0  1.785330
32  IN.18     48         Meghalaya  17.0  1.681241
35  IN.20     12          Nagaland  13.0  1.079181

## MAIN

In [ ]:
fig = px.choropleth_mapbox(
    states,
    locations="id",
    geojson=india_states,
    color="scaled",
    hover_name="state_name",
    hover_data=["freq"],
    title="India Population Density",
    mapbox_style="carto-positron",
    center={"lat": 24, "lon": 78},
    zoom=3,
    opacity=0.5,
)
fig.show()

## USeless

In [ ]:
scl = [0,"rgb(150,0,90)"],[0.125,"rgb(0, 0, 200)"],[0.25,"rgb(0, 25, 255)"],\
[0.375,"rgb(0, 152, 255)"],[0.5,"rgb(44, 255, 150)"],[0.625,"rgb(151, 255, 0)"],\
[0.75,"rgb(255, 234, 0)"],[0.875,"rgb(255, 111, 0)"],[1,"rgb(255, 0, 0)"]

fig = go.Figure(data=go.Scattergeo(
    lon=coords['long'],
    lat=coords['lat'],
    text=coords['freq'].astype(str)+" Mentions",
    geojson=india_states,
    marker = dict(
        color = coords['scaled'],
        colorscale = scl,
        reversescale = True,
        opacity = coords['scaled']/1.5,
        size = 20,
        colorbar = dict(
            titleside = "right",
            outlinecolor = "rgba(68, 68, 68, 0)",
            ticks = "outside",
            showticksuffix = "last",
            dtick = 0.1
        )
    )))

fig.update_layout(
    title="test",
    geo_scope="asia")
fig.show()

## DEcent

In [ ]:
fig = px.density_mapbox(coords, 
                        lat='lat', 
                        lon='long', 
                        z='freq', 
                        radius=20, 
                        center={"lat": 24, "lon": 78},
                        zoom=5,
                        mapbox_style="stamen-terrain")

fig.update_layout(title="Geographical mentions")
fig.show()

## EPIC

In [ ]:
fig = go.Figure(go.Densitymapbox(lat=coords['lat'], 
                        lon=coords['long'], 
                        z=coords['freq'], 
                        radius=20))
fig.update_layout(mapbox_style="carto-darkmatter", mapbox_center_lon=78, mapbox_center_lat=24, mapbox_zoom=2.8)
fig.update_layout(margin={"r":100,"t":0,"l":50,"b":20})
fig.show()